html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  height: 40rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(360deg, rgba(1,146,201,1) 18%, rgba(0,58,80,1) 88%);
}

.container > div {
  outline: 10px solid #ffa50080;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 9rem;
  background-color: #0175a1;
  opacity: .9;
  display: none;
  transition: all ease-in .35s;
}

.container > .first {
  transform: scale(1.5);
  z-index: 2;
  display: flex;
}

.container > .second {
  z-index: 2;
  opacity: .5;
  display: flex;
}

.container > .third {
  margin-top: 1rem;
  opacity: .15;
  outline: none;
  transform: scale(1);
  z-index: 1;
  background-color: transparent;
  display: flex;
}

